.pagination {clear: both;display: block;width: 100%;padding-left: 0;margin: 20px 0;border-radius: 4px;}.pagination>li {display: inline;}.pagination>li>a, .pagination>li>span {position: relative;float: left;padding: 6px 12px;line-height: 1.42857143;text-decoration: none;color: #337ab7;background-color: #fff;border: 1px solid #ddd;margin-left: -1px;}.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {color: #777;background-color: #fff;border-color: #ddd;cursor: not-allowed;}.pagination.pagination-fancy > li:first-child > a, .pagination-fancy > li:first-child > span {border-bottom-left-radius: 20px;border-top-left-radius: 20px;margin-left: 0;}.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {z-index: 3;color: #fff;background-color: #337ab7;border-color: #337ab7;cursor: default;}.pagination.pagination-fancy > li a {border-bottom: 3px solid rgba(0, 0, 0, 0.08);}.pagination.pagination-fancy > li:last-child > a, .pagination-fancy > li:last-child > span {border-bottom-right-radius: 20px;border-top-right-radius: 20px;margin-right: 0;}

.image-table>tbody>tr>td{padding:5px 0;vertical-align:middle;text-align:center;}
.image-table>thead>tr>th{text-align:center;}
.image-table>tbody>tr>td:first-child{min-width: 50px;}
.image-table>tbody>tr>td:first-child:hover{cursor: move;}
.sortable-table>tbody>tr>td:first-child{min-width: 50px;}
.sortable-table>tbody>tr>td:first-child:hover{cursor: move;}
.sortable-table>tbody>tr>td{padding:5px 0;vertical-align:middle;}

abbr{text-decoration: underline;}
abbr:hover{cursor: help;}

.admin-order, .admin-profile {font-size: 14px;} 
.admin-order tbody tr td{border-top:2px solid #fff;}

tr.noborder td{border-top: none;}
tr.noborder th{border-top: none;}
.admin-profile tr td:first-child{font-weight: bolder;}
.form-check{margin-bottom: 0 ! important;}

.nocolor{color:#212529!important;text-decoration: none!important;}

.select2-container .select2-selection--single {height: 42px;}
.select2-container .select2-selection--single .select2-selection__rendered {padding-left: 8px;padding-top: 6px;}
.select2-container--default .select2-selection--single .select2-selection__arrow {height: 41px;}

.invalid-feedback{display: block;}

.color-danger{color:red;}

