/*
	main-green: #57AAB4;
 */

/*impact fonts regular*/

@font-face {
  font-family: 'Impact';
  src: url('../fonts/Impact.eot?#iefix') format('embedded-opentype'),  url('../fonts/Impact.woff') format('woff'), url('../fonts/Impact.ttf')  format('truetype'), url('../fonts/Impact.svg#Impact') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*utitities*/
.i{display:none;}
.p-0{padding:0 ! important;}
.p-1{padding:10px;}
.p-2{padding:20px;}
.p-3{padding:30px;}
.p-4{padding:40px;}
.p-5{padding:50px;}
.pt-0{padding-top: 0;}
.pt-1{padding-top: 10px;}
.pt-2{padding-top: 20px;}
.pt-3{padding-top: 30px;}
.pt-4{padding-top:40px;}
.pt-5{padding-top:50px;}
.pb-0{padding-bottom: 0;}
.pb-1{padding-bottom: 10px;}
.pb-2{padding-bottom: 20px;}
.pb-3{padding-bottom: 30px;}
.pb-4{padding-bottom:40px;}
.pb-5{padding-bottom:50px;}
.mt-15{margin-top: 15px ! important;}
.mt-25{margin-top: 25px ! important;}
.mt-4{margin-top: 64px;}
.mb-0{margin-bottom: 0 ! important;}
.mb-5{margin-bottom: 5px;}
.mb-25{margin-bottom: 25px ! important;}
.mb-50{margin-bottom: 50px ! important;}
.mt-0{margin-top: 0 ! important;}
.bg-white{background: #fff;}
.bg-dark{background: #252525;}
img.max100{max-width: 70px; margin-left: auto; margin-right:auto; text-align: center; display: block;margin-top: 18px;}
.p15{font-size:15px ! important;}
.p16{font-size:16px;}
.uppercase{text-transform: uppercase ! important;}
.bold{font-weight: 600 ! important;}
.main-color{color:#57AAB4 ! important;}
.color-brighter{color:#777 ! important;}
.pparallax{font-size: 40px;font-weight: 900;line-height: 35px;color: #fff;text-align: center;margin: 0;position: absolute;top: -150px;background: #252525;padding: 10px;}
a:hover{color: #58585a;}
#mainMenu nav > ul > li.hover-active > a, #mainMenu nav > ul > li.hover-active > span, #mainMenu nav > ul > li.current > a, #mainMenu nav > ul > li.current > span, #mainMenu nav > ul > li:hover > a, #mainMenu nav > ul > li:hover > span, #mainMenu nav > ul > li:focus > a, #mainMenu nav > ul > li:focus > span {
    color: #7f141f;
}
#mainMenu nav > ul > li.mega-menu-item .mega-menu-content [class*="col-"] > ul > li > a:hover{color: #7f141f;}
.center{display: block; text-align: center; margin-right: auto; margin-left:auto;}

/*btn*/
.btn{background-color:#58585a; border-color:#58585a;}
.btn:hover{background-color:#1a1a1a; border-color:#1a1a1a;}
.btn-nocolor{background-color:transparent; border-color:transparent;}
.btn-nocolor:hover{background-color:transparent; border-color:transparent;}
.btn-outline-spice{background-color:#fff; border-color:#E47E18 ! important; color:#E47E18 ! important;}
.btn-outline-spice:hover{background-color:#E47E18 ! important; border-color:#E47E18; color: #FFF ! important;}

/*home*/
/*.heading-home-1{margin-bottom: 1em;text-align: center;font-size: 55px;letter-spacing: -2px;}
.heading-home-3{margin-bottom: .4em ! important;font-size: 45px;letter-spacing: -1px; line-height: 1em;}
.img-center img{text-align: center; margin: 0 auto;}*/
#header #header-wrap #logo a > img {height: 64px;margin-top: 10px;}
.background-overlay-dark:before{background:rgba(0, 0, 0, 0.4);}
img.max-width-280{display: block;text-align: center; margin-right: auto;margin-left:auto; max-width: 280px; }
.low-lh {line-height: 1.1em; font-family: "Raleway", color: #777;text-transform: uppercase;text-align: center;margin-top: 24px;font-size:18px; font-weight:600;}
.low-lh b{font-size: 23px;font-weight:900; color:#666;}

.relative{position:relative;}
.top-left{position: absolute;top: 25px;left: -15px;color: rgba(100,100,100,.3);font-weight: 900;font-size: 30px;}
.event-navigation .post-next span, .event-navigation .post-prev span {display: block;color: #565656;font-size: 11px;text-transform: uppercase;opacity: 0.7;margin-bottom: -6px;margin-top: 3px;}

/*page title*/
.darker:after{content: '';position: absolute;width: inherit;height: 100%;top: 0;left: 0;background: rgba(0, 0, 0, 0.5);z-index:-1;}
.darker-3{background-position-x:0; background-position-y:60%;}
.darker-3:after{content: '';position: absolute;width: inherit;height: 100%;top: 0;left: 0;background: rgba(0, 0, 0, 0.3);z-index:-1;}
.breadcrumb ul li {color:#fff;}

/*product page*/
/*#page-title .page-title > h2 {font-size: 30px;font-weight: 300;line-height: 30px;letter-spacing: -2px;color: #ffffff;margin-top: -10px;margin-bottom: 20px;}*/
#page-content h4{margin-bottom:3px;margin-top:10px;font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;text-transform: uppercase;letter-spacing: 0px; font-size: 16px;line-height:16px;color:#58585a;font-weight: 700}
#page-content h6{margin-right:10px;font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;text-transform: uppercase;letter-spacing: 0px; font-size: 13px;line-height:16px;color:#58585a;font-weight: 700}
.smallerLineHeigh{line-height: 23px; font-size: 14px ! important;font-family: "Open Sans" ! important; letter-spacing: .5px; color: #3c3c3c !important;}
.smallerLineHeigh a{color:#79745e; font-weight: 600 ! important;}
table.cataloque {width: 98%;margin-right: 1%;margin-left: 1%;margin-bottom: 0;}
table.cataloque tr{width:100%;border-bottom-width:2px;border-bottom-style:dotted;border-bottom-color:#ccc;}
table.cataloque tr td:nth-child(2){text-align: right;}
table.cataloque tr:last-child{border-bottom: none;}
hr.two{border-top-color: #58585a;border-top-width: 2px;}
p.onem{font-size: 1em ! important; line-height:1.1em ! important;}
.btn-block{background: transparent;background-color: transparent;}
.btn-block img{max-width: 26px;}


/*products page*/
.list-lines .active{text-align: right;font-weight: 700;background: #58585a;padding-right: 10px;}
.list-lines .active a{color:#fff;}
.prodotti p{font-size: 16px;}
.sector-tags a{width: 100%;text-align:left; min-height: 54px; font-weight: 600 ! important; font-size: 13px ! important;line-height: 15px;}
.btn-correction{padding-top:16px;padding-bottom:16px;}
.btn-correction:before{right: 60px ! important;}

/*sectors*/
/*portfolio*/
.grid-filter{height: 100px; margin-top: 80px;}
.grid-filter ul{height: 100px;}
.grid-filter li{margin:6px;}
.grid-filter li a{color:#7b7b7b;}
.grid-active-title{top:-60px;font-size: 30px;opacity: 0.5;}
.province-filter{position:relative;}
.province-filter select{margin-top: 80px;}
.province-active-title{font-family: "Raleway", "Helvetica", "Arial", sans-serif;font-size: 30px;font-weight: 100;opacity: 0.5;position: absolute;right: 0;top:-60px;}
.grid-filter.gf-outline li:hover a, .grid-filter.gf-outline li.active a {border-color: #58585a;color: #58585a;background-color: transparent;}
.portfolio-item.no-overlay .portfolio-description, .portfolio-item.no-overlay .grid-description, .grid-item.no-overlay .portfolio-description, .grid-item.no-overlay .grid-description{margin-top: 0;padding-top: 0;padding-bottom:15px;background: rgba(210,210,210,.2);}
.portfolio-item.no-overlay .portfolio-description p, .portfolio-item.no-overlay .grid-description p, .grid-item.no-overlay .portfolio-description p, .grid-item.no-overlay .grid-description p {font-weight: 100;opacity: 0.9;}

/*pagination*/
.table-center{display:table;}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {z-index: 3;color: #fff;background-color: #58585a;border-color: #58585a;cursor: default;}
.pagination>li>a, .pagination>li>span {position: relative;float: left;padding: 6px 12px;line-height: 1.42857143;text-decoration: none;color: #58585a;background-color: #fff;border: 1px solid #ddd;margin-left: -1px;}

/*people*/
h3.list{margin-bottom: 12px;text-transform: uppercase;font-size: 20px;font-weight: 400;text-align: center;}


.profile-content .profile-bio{width: 95%; margin-left:2.5%; margin-right: 2.5%;}
.profile-bio h1{margin-bottom:-5px; margin-top: 5px;text-transform:uppercase;letter-spacing: 0;}
.profile-bio h2{text-transform:uppercase; font-size: 1.3em; font-weight: bolder;}
.profile-content .profile-image .profile-name h3{font-size: 40px;line-height: 40px;}
@media(min-width: 991px){
	.profile-content .profile-image{width: 50%; display: block}
	.profile-content .profile-bio{width: 50%; margin:25px 0; padding-left: 25px;}
	.profile-content .profile-image .profile-name h3{font-size: 60px;line-height: 55px; margin-top: 100%;}
}
@media(min-width: 1261px){
	.profile-content .profile-image{width: 50%; display: table}
	.profile-content .profile-bio{width: 50%; padding-left: 50px; padding-right: 30px; margin:50px 0;}
	.profile-content .profile-image .profile-name h3{margin-top: 0;font-size: 90px;line-height: 80px;}
}
/*.profile-content .profile-bio{width: 40%;}*/

/*publications*/
.no-section{margin-bottom:65px; margin-top:20px;}
.no-section .breadcrumb {margin-top: -45px;}
.no-section .breadcrumb li.active{color:#57AAB4;}
.no-section h1{font-family: "Montserrat", "Helvetica", "Arial", sans-serif;font-size: 50px;font-style: normal;font-weight: 700;line-height: 50px;letter-spacing: -2px;margin-top: 0;margin-bottom: 20px;}
.no-section h2{font-size: 30px;font-weight: 300;line-height: 30px;letter-spacing: -2px;margin-top: -10px;margin-bottom: 20px;}
p.pub i b{color:#57AAB4;}



/*LYACOS*/
#header {line-height: 42px;}
.header-extras{display:none;}
@media(min-width:1198px){.header-extras{display:block;}}
.hero-heading-3 h1{font-family:'Impact' !important;font-weight: 500;}
.hero-heading-3 h2{font-family:'Impact' !important;font-weight: 500; line-height: 80px;}

.inspiro-slider .slide-captions h2 { font-family:'Impact' !important;font-size: 70px;line-height: 25px;font-weight: 500;margin-bottom: 0;color: rgba(0,0,0,.4);}
.inspiro-slider .slide-captions h1 { font-family:'Impact' !important;font-size: 40px;font-weight: 500;line-height: 40px;margin-bottom: 0;color: #fff;margin-top: -10px;}
.inspiro-slider .slide-captions h1 small{font-size: 45%; color:#fff;}

.owl-carousel.arrows-creative .owl-nav [class*="owl-"]:hover{background-color: rgba(0,0,0,.2);}

@media(min-width:991px){
	.inspiro-slider .slide-captions h2 { font-size: 160px;line-height: 100px;}
	.inspiro-slider .slide-captions h1 { font-size: 90px;line-height: 80px;margin-top: -40px;}
	.inspiro-slider .slide-captions h1.bigger { font-size: 110px;line-height: 80px;margin-top: -40px;}
}


.page-title-classic{background-color: #000 ! important;}

#page-title .page-title > h1 {font-family:'Impact' !important;text-transform: uppercase;font-style: normal;font-weight: 500;letter-spacing: 0;font-size:33px;line-height: 31px;}
#page-title .page-title > h2 {font-family:'Impact' !important;text-transform: uppercase;font-weight: 500;letter-spacing: 1px;color:#fff;font-size: 22px}
#page-title.page-title-classic .page-title > h1 {font-family:'Impact' !important;text-transform: uppercase;color: #fff;font-size: 33px; line-height: 31px;margin-bottom: 1px;}
#page-title.page-title-classic .page-title > h2 {font-family:'Impact' !important;text-transform: uppercase;color: #fff;font-size: 19px;}

@media(min-width:991px){
	#page-title .page-title > h1 {font-size:60px;line-height: 55px;font-style: normal;font-weight: 500;letter-spacing: 0; margin-bottom: 1px;}
	#page-title .page-title > h2 {font-weight: 500;letter-spacing: 1px;}
	#page-title.page-title-classic .page-title > h1 {font-size: 45px; line-height: 41px;margin-bottom: 0px;}
	#page-title.page-title-classic .page-title > h2 {font-size: 28px;}
	.portfolio-item.no-overlay .portfolio-description h3, .portfolio-item.no-overlay .grid-description h3, .grid-item.no-overlay .portfolio-description h3, .grid-item.no-overlay .grid-description h3 {font-size: 25px;line-height: 22px;}
}
.pageH3{color:#777; font-weight: 300;text-transform: uppercase; font-size: 20px;border-bottom: 1px solid #777; padding-bottom: 10px;}
.pageH4{line-height: 22px;}
.asH3-description{font-family: "Montserrat", "Helvetica", "Arial", sans-serif;font-size: 20px;font-weight: 100;margin-bottom: 20px;color:#333;}
.green{color:green;}
.label-small{background: #898989;font-size: 9px; vertical-align: super; color:#fff;}
.label-small a{color:#fff;}

.page-menu ul li {font-size: 13px;}
.portfolio-attributes .attribute strong{margin-bottom:0;}
.portfolio-attributes.style2 .attribute{margin-bottom: 12px;}

.page-menu ul li{position:relative;padding-left: 10px; padding-right: 10px;}
.page-menu ul li:after{font-family: 'FontAwesome'; position:absolute; content: '\f105'; top: -7.5px; right: -2px;}
.page-menu ul li:last-child:after{content: '';}

.portfolio-item .portfolio-description a{-webkit-transition: color 1s ease-out;-moz-transition: color 1s ease-out;-o-transition: color 1s ease-out;transition: color 1s ease-out;}
.portfolio-item .portfolio-description a:hover{color: #909459;}
.portfolio-item .portfolio-description h3{font-size: 25px; line-height: 22px;-webkit-transition: color 1s ease-out;-moz-transition: color 1s ease-out;-o-transition: color 1s ease-out;transition: color 1s ease-out;}
.portfolio-item .portfolio-description h3:hover{color: #909459;}
.portfolio-item .portfolio-description h3 small{-webkit-transition: color 1s ease-out;-moz-transition: color 1s ease-out;-o-transition: color 1s ease-out;transition: color 1s ease-out;}
.portfolio-item .portfolio-description h3 small:hover{color: #909459;}
.portfolio-item .portfolio-description h3 small b{-webkit-transition: color 1s ease-out;-moz-transition: color 1s ease-out;-o-transition: color 1s ease-out;transition: color 1s ease-out;}
.portfolio-item .portfolio-description h3 small b:hover{color: #909459;}
p.smallerLineHeigh:hover{cursor:default;}

.no-cursor:hover{cursor:default;}
.btn.btn-xxs{line-height: 22px; height: 22px;font-size: 11px;padding: 0 14px;}
.btn.btn-xs{font-size: 10px;line-height: 24px;}
.btn.btn-lighter{ border-color: #666;color: #666;}
.btn.btn-lighter:hover{color:#fff;background: #666;border-color: #666;}
.lang-option{margin-top:10px;}


.lang-option p{margin-bottom: 5px;}

.portfolio-padding{padding:0 22px 10px ! important;}
.asH3{text-transform:uppercase;color: #252525;margin: 0;font-weight: 600;letter-spacing: 1px; margin-bottom: 1.53em ! important; font-size:1.78em;}

.book-description{margin-top: 10px ! important;}
.book-description p{color:#333 ! important; font-weight: 300 ! important; opacity: 1 ! important;}

#page-title .page-title {width: 90%;}
#page-title .breadcrumb {width: 10%;opacity: 1;float: right;text-align: right;margin-top: 26px;}
#page-title.page-title-classic .page-title{width: 90%;}
#page-title.page-title-classic .breadcrumb {opacity: 1;float: right;width: 10%;text-align: right;}
#mainMenu nav > ul > li > a {padding: 11px 9px;}
#mainMenu.menu-lines nav > ul > li {margin-left: 0;float: right;}
#header.header-fullwidth #header-wrap .header-extras {line-height: 84px;}
small p{margin-bottom: 0;}
.label-xxs{color:#fff ! important; padding:3px 5px ! important; font-size: 8px ! important; font-weight: 300;}


